@media only screen and (max-width: 600px) {

    body {

        font-family: sans-serif, Verdana, Georgia;

    }

    header h1 {

        width: 100%;
        text-align: center;
        background-color: #063970;
        color: white;
        margin: 0;

    }

    .banner img {

        width: 100%

    }

    .banner .welcome h2 {

        text-align: center;
        color: #154c79;;

    }

    .main .description h2 {

        color: #222222;
        text-align: center;

    }

    .main .description .about {

        text-align: center;
        color: #333042;
        padding: 0 0 4% 0;

    }

    .footer .social-media {

        background-color: #063970;
        color: white;
        padding: 1% 0 0 0;

    }

    .footer .social-media .copyright {

        padding: 0 0 0 1.5%;

    }

    .footer .social-media a i {
    
        font-size: 20px;
        color: #FFFFFF;
     
     }

     .footer .social-media #x {

        padding: 0 1.5% 0 1.5%;

     }

     .footer .social-media #youtube {

        padding: 0 1.5% 0 0;

     }

}

@media only screen and (min-width: 601px) {

    body {

        font-family: sans-serif, Verdana, Georgia;

    }

    header h1 {

        background-color: #063970;
        color: white;
        margin: 0;
        text-align: center;

    }

    .banner {

        position: relative;

    }

    .banner img {

        width: 100%;

    }

    .banner .welcome {

        text-align: center;
        color: #154c79;

    }

    .main .description h2 {

        color: #222222;
        text-align: center;

    }

    .main .description .about {

        text-align: center;
        color: #333042;
        padding: 0 8% 4% 8%;

    }

    .footer .social-media {

        background-color: #063970;
        color: white;
        padding: 1% 0 0 0;

    }

    .footer .social-media .copyright {

        padding: 0 0 0 1.5%;

    }

    .footer .social-media a i {
    
        font-size: 20px;
        color: #FFFFFF;
     
     }

     .footer .social-media #x {

        padding: 0 1.5% 0 1.5%;

     }

     .footer .social-media #youtube {

        padding: 0 1.5% 0 0;

     }

}

@media only screen and (min-width: 768px) {

    header h1 {

        padding: 3%;

    }

    .main .description .about {

        padding: 0 22% 6% 22%;

    }

    .footer .social-media {

        padding: 1.5% 0 1.5% 0;

    }

}

@media only screen and (min-width: 992px) {

    body { 
        background-color: purple;
    }

}

@media only screen and (min-width: 1200px) {

    h1{

        background-color: #063970;
        color: white;
        position: fixed;
        width: 100%;
        text-align: center;
        top: 0;
        margin-top: 0;
        padding: 30px 0;
        z-index: 2;
        font-family: sans-serif;
    
    }
    
    .banner{
    
        position: relative;
    
    }
    
    .banner img {
    
        max-width: 100%;
        width: 100%;
    
    }
    
    .banner .welcome {
    
        padding: 20px;
        color: white;
        background-color: #154c79;
        position: absolute;
        left: 0;
        top: 30%;
        font-family: sans-serif, Verdana, Georgia;
    
    }

    .main .description h2{

        text-align: center;
        color: #222222;
        font-family: sans-serif, Verdana, Georgia;
    
    }
    
    .main .description .about {
    
        margin: auto;
        width: 640px;
        font-size: 16px;
        color: #333042;
        font-family: sans-serif, Verdana, Georgia;
    
    }
    
    .footer {
    
        background-color: #063970;
    
    }
    
    .footer .copyright p {
    
        color: white;
        max-width: 100%;
        width: 300px;
        font-family: sans-serif, Verdana, Georgia;
    
    }
    
    .footer .social-media {
    
        margin: 60px 0 0 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2% 0 2% 0;
    
    }
    
    .footer .social-media #x {
    
        padding: 0 0 0 1%; 
    
    }
    
    .footer .social-media #youtube {
    
        padding: 0 0 0 3%;
    
    }
    
    .footer .social-media #facebook {
    
        padding: 0 25% 0 3%;
    
    }
    
    .footer .social-media a i {
    
       font-size: 20px;
       color: #FFFFFF;
    
    }

}

body{

    margin-left: 0;
    line-height: 1.75;
    margin: 0;

}



/* nav {

    background-color: #063970;

}

nav ul {

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 30px;

}

nav li {

    list-style-type: none;

}
nav li a {

    color: white;
    max-width: 25%;
    display: inline-block;
    text-decoration: none;

} */



