body{
    font-family: sans-serif;
    margin-left: 0;
    line-height: 1.75;
}
h1{
    background-color: #063970;
    color: white;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    margin-top: 0;
    padding: 30px 0;
    z-index: 2;
}
.banner{
    position: relative;
}
.banner img {
    max-width: 100%;
    width: 100%;
}
.banner .welcome{
    padding: 20px;
    color: white;
    background-color: #154c79;
    position: absolute;
    left: 0;
    top: 30%;
}
/* nav{
    background-color: #063970;
}
nav ul{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 30px;
}
nav li{
    list-style-type: none;
}
nav li a{
    color: white;
    max-width: 25%;
    display: inline-block;
    text-decoration: none;
} */
.main .description h2{
    text-align: center;
    color: #222222;
}

.main .description .about {
    margin: auto;
    width: 640px;
    font-size: 16px;
    color: #4d4d4d;
}